{% extends '_base.html' %}


{% block head %}
<link rel="stylesheet" href={{ url_for('static', filename='css/settings.css' ) }}>
{% endblock head %}


{% block content %}

{% include '_nav.html'   %}

<main>
    <section class="avatar">
        <div class="container">
        <div class="mask">
            <div class="img"></div>
        </div>
        <button>Изменить</button>
        <button>Удалить</button>
        <input type="range" id="ava_round" min="5" max="50" value="5">
        </div>
    </section>
    <section class="general">
        <h1>Настройки профиля</h1>
        <div class="attribute" id="login">
            <label>Логин</label>
            <form method="post">
            <input name='email' class='form-control' type="text" value={{current_user.login}}>
            <button type='submit' class="btn" disabled>Изменить</button>
            </form>
        </div>
        <div class="attribute">
            <label>Пароль</label>
            <div title="почта не подтверждена"><button class="btn status" disabled>Забыл Пароль</button></div>
            <button class="btn" >Изменить</button>
            
        </div>
        <p>Пользователь с {{ "10.04.24" }}</p>
    </section>
</main>
{% endblock content %}
{% block footer %}
<script src= {{ url_for('static', filename='/js/settings.js') }}></script>
{% endblock footer %}